<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Uploads</title>
  </head>
  <body>
    <h1>Uploaded Files</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Files</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% user.profilePics.forEach(file => { %>
            <a href="/download/<%= file %>"><%= file %></a><br />
            <% }) %>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
